<div [ngClass]="isVisible ? 'add-wrapper show' : 'add-wrapper'">
  <p class="add-task">Add new task</p>
  
    <input
      type="text"
      name="inputTodo"
      placeholder="Insert your new task here"
      class="todo-input"
      [(ngModel)]="inputTodo"
    /> 
    <div class="confirm-cancel">
      <button (click)="cancel()" class="todo-btn cancel">Cancel</button>
      <button (click)="sendNewTodo()" [disabled]="inputTodo == ''" class="todo-btn send">Add task</button>
    </div>
    
</div>
