$roundCorner-primary: 20px;
$roundCorner-secondary: 10px;
$roundCorner-terciary: 8px;

$btn-cancel-text-color: #f00;
$btn-cancel-bg-color: #fce2e4;
$btn-send-text-color: #0f0;
$btn-send-bg-color: #d8f5e0;